body{
	font-family: helvetica;
	font-weight: bold;
	font-size: 60px;
	color:#ff6666 ;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.container {
  display: inline-grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
}

.item {
  border: 3px solid #ff9999;
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
}